<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.dao.ProProductMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.jy.entity.ProProduct">
                    <id column="PRODUCT_ID" property="productId" />
                <result column="IS_DELETED" property="isDeleted" />
                    <result column="PRODUCT_NAME" property="productName" />
                    <result column="PRODUCT_NUMBER" property="productNumber" />
                    <result column="PRODUCT_STOCK" property="productStock" />
                    <result column="PRODUCT_SUPLIER" property="productSuplier" />
                    <result column="PRODUCT_SUPLIER_ID" property="productSuplierId" />
                    <result column="PRODUCT_TYPE" property="productType" />
                    <result column="PRODUCT_PARTENT_TYPE" property="productPartentType" />
                    <result column="PRODUCT_CODE" property="productCode" />
                    <result column="PRODUCT_TYPE_CODE" property="productTypeCode" />
                    <result column="PRODUCT_BRAND_NAME" property="productBrandName" />
                    <result column="PRODUCT_BRAND_CODE" property="productBrandCode" />
                    <result column="PRODUCT_STATUS" property="productStatus" />
                    <result column="CREATE_TIME" property="createTime" />
                    <result column="CREATE_NAME" property="createName" />
                    <result column="MODIFY_TIME" property="modifyTime" />
                    <result column="MODIFY_NAME" property="modifyName" />
                    <result column="VERSION" property="version" />
                    <result column="PRODUCT_DESCRIBE" property="productDescribe" />
        </resultMap>

</mapper>